body {
  font-size: 2em;
}

header {
  color: #bbe4fd;
  padding-bottom: 20px;
}

.label {
    font-size: 1.3em;
}

.slider-container {
  padding: 0 20px;
}

.slider {
  position: relative;
  top: 6px;
}

.slider-before {
  position: absolute;
  left: 0px;
  top: 0px;
}

.slider-after {
  position: absolute;
  right: 0px;
  color: #C9B559;
  top: 0px;
}
